$container: (
	max-width: 1200px,
);

$colors: (
	white: #fff,
	grey-loader: #a7adb5,
	rose: #be123c,
);

@mixin container {
	max-width: map-get($container, max-width);
	position: relative;
	margin: 0 auto;
}
