@use "../../sass/index.scss" as *;

.movieDetail {
	display: flex;
	justify-content: space-between;
}

.logo {
	max-width: px-to-rem(186px);
	padding-inline: px-to-rem(20px);
}
.sideNav {
	padding-top: px-to-rem(40px);
	max-width: px-to-rem(230px);
	width: px-to-rem(230px);
	border: 2px solid hsla(0, 0%, 0%, 0.3);
	min-height: calc(100vh - px-to-rem(45px));
	border-radius: 0 px-to-rem(45px) px-to-rem(45px) 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: sticky;
	top: 0;
	@include custom-media-query("mobile", 900px) {
		display: none;
	}

	li {
		display: flex;

		padding-block: px-to-rem(28px);
		justify-content: center;
		align-items: center;
		gap: px-to-rem(16px);

		a {
			color: black;
			align-self: center;
		}
	}

	.active {
		background-color: hsla(345, 83%, 41%, 0.1);
		border: 4px solid map-get($colors, rose);
		border-width: 0 6px 0 0;
	}
	ul {
		width: 100%;
	}
}

.main {
	max-width: px-to-rem(1140px);
	width: 100%;
	padding-inline: px-to-rem(16px);
	margin: auto;

	.movieInfo {
		max-width: px-to-rem(770px);
		margin-top: px-to-rem(30px);

		h1 {
			font-size: px-to-rem(20px);
			flex: 0.6;
		}

		.movieStats {
			display: flex;
			align-items: center;
			color: #404040;
			@include custom-media-query("mobile", 500px) {
				flex-wrap: wrap;
			}

			.meta {
				display: flex;
				@include custom-media-query("mobile", 500px) {
					flex-wrap: wrap;
					justify-content: flex-start;
				}
				font-size: 14px;
				gap: px-to-rem(10px);
				align-self: center;
				justify-content: center;
				span,
				p {
					align-self: center;
				}
				div {
					display: flex;
				}
				.genres {
					display: flex;

					gap: px-to-rem(8px);

					span {
						color: map-get($colors, rose);
						border: 1px solid #f8e7eb;
						padding: px-to-rem(4px) px-to-rem(12px);
						border-radius: px-to-rem(50px);
					}
				}
			}
		}
	}
}
.mainImage {
	min-height: px-to-rem(448px);
	background-repeat: no-repeat;
	background-size: cover;
	@include custom-media-query("mobile", 500px) {
		background-position: center;
	}
	border-radius: px-to-rem(20px);
	margin-top: px-to-rem(20px);
	box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
		0px 8px 10px -6px rgba(0, 0, 0, 0.1);

	img {
		width: 100%;
	}
}

.pop {
	border: 1px solid rgba(190, 18, 60, 0.7);
	max-width: px-to-rem(150px);
	padding: px-to-rem(20px) px-to-rem(10px);
	border-radius: px-to-rem(20px);
	padding-top: px-to-rem(40px);
	background-color: hsla(345, 83%, 41%, 0.048);
	h4 {
		font-size: px-to-rem(15px);
	}
	p {
		font-size: px-to-rem(12px);
	}
}

.allStats {
	display: flex;
	justify-content: space-between;

	.rating {
		display: flex;
		margin-top: px-to-rem(20px);
		align-items: center;
		gap: px-to-rem(10px);
	}

	.overview {
		margin-top: px-to-rem(20px);
	}
}

.off {
	@include custom-media-query("mobile", 500px) {
		display: none;
	}
}
