@use "../../../sass/index.scss" as *;

.container {
	@include container;
	display: flex;
	justify-content: space-between;
	gap: px-to-rem(8px);
	padding-block: px-to-rem(22px);
	color: map-get($colors, white);
	align-items: center;
}

.navItem {
	display: flex;
	width: fit-content;
	align-items: center;
	gap: px-to-rem(24px);
}

.searchBar {
	border: 2px solid map-get($colors, white);
	flex-basis: px-to-rem(525px);
	padding-inline: px-to-rem(12px);
	padding-block: px-to-rem(8px);
	border-radius: px-to-rem(6px);

	input {
		all: unset;
		flex-basis: 100%;
		height: 100%;
		background-color: transparent;

		&::placeholder {
			color: map-get($colors, white);
		}
	}
}
